/* 1. Navbar */

.navbar {
  display: flex;
  /* flex-direction: column; */
  gap: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: #0f0f0f;
  color: white;
  padding: 0 15px;
}

.navbar h1 {
  color: #3888ff;
  font-weight: lighter;
  /* margin: 10px 0 0 0; */
}

.nav-links {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.nav-links li {
  list-style: none;
  padding: 10px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

/* 2. Search Form */

.searchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 30px auto;
  padding: 30px;
  max-width: 1200px;
  background-color: white;
  text-align: center;
}

.searchForm form input {
  padding: 15px 20px;
  margin-bottom: 5px;
  border-radius: 5px 0 0 5px;
  border: none;
  background-color: #eaeaea;
}

.searchForm form input:focus,
select:focus {
  outline: none;
}

.searchForm form select {
  padding: 14.5px 20px;
  border: none;
  background-color: #3888ff;
  color: white;
}

.searchForm form button {
  padding: 14px 20px;
  margin-left: 5px;
  background-color: #3888ff;
  color: white;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  border: none;
  transition: .3s ease background-color;
  cursor: pointer;
}

.searchForm form button:hover {
  background-color: #0066fe;
}


.error-message {
  text-align: center;
  color: #ff7676;
  margin: 20px 0 0;
  background-color: #620000;
  padding: 5px 10px;
  border-radius: 5px;
}

/* 3. Content */
.content-container {
  display: flex;
  max-width: 1200px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  /* width: 100%; */
  margin: 0 auto;
  gap: 20px;
  background-color: #ffffff;
  padding: 40px 0;
  border-radius: 15px;
  /* box-shadow: 2px 3px 10px 1px #00000099; */
}

.match-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  /* box-shadow: 0 0 3px 1px #00000099; */

}

.match-card img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  display: block;
  border-radius: 100%;
  border: 3px solid white;
}

.match-card h2 {
  margin: 0;
}

.match-card ul {
  margin: 0;
  list-style: none;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
}

.btn-show{
  padding: 10px 15px;
  background-color: #3888ff;
  color: white;
  border: none;
  cursor: pointer;
}

/* Players */

.team-section{
  padding: 6px;
}

.team-section h3{
  text-align: center;
}

.match-players{
  padding: 15px 0px;
  padding-bottom: 30px;
  /* margin-bottom: 15px; */
  display: flex;
}

.match-players .match-player{
  margin: 10px;
  padding: 7px 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
    background-color: white;
}

.match-players .match-player span{
  margin: 0 10px;
  font-size: 10px;
}

.match-players .match-player img{
  width: 25px;
  border-radius: 100%;
}

.player-name {
  border: none;
  background-color: #4793ff;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  /* margin: 0 10px; */
}

.load-button{
  padding: 10px 15px;
  background-color: #3888ff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
}

/* Player information */

.player-info {
  background-color: #19468a;
  padding: 15px 30px;
  border-radius: 10px;
  color: white;
  /* display: flex; */
}

.player-info h1 {
  margin-top: 5px;
}


/* 3. Ranked Solo Card */

.player-info h1{
  font-size: 1.4rem;
}

.player-info h2{
  font-size: 1.2rem;
}

.player-info h3{
  font-size: 1.1rem;
}

.ranked-card h3,
h2,
p {
  margin: 5px 0;
}

.rank-emblem-wrapper {
  width: 120px;
  height: 70px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rank-emblem {
  width: 400px;
  height: auto;
  object-fit: contain;
}

/* Loading icon */

.loader {
  width: 80px;
  height: 80px;
  border: 8px solid #d3d3d3;
  border-top: 8px solid #3888ff;
  border-radius: 50%;

  animation: spin 1s ease infinite;
  margin: 2rem auto;
}

/* About me */

.about-me {
  margin: 20px auto;
  padding: 40px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  background-color: white;
  overflow-wrap: break-word; 
  max-width: 900px;
}

.about-me img {
  width: 230px;
  height: 230px;
}

.about-me div {
  flex: 1;
  /* min-width: 280px; */
}

.about-me div h1{
  margin: 8px 0;
}

.about-me div button{
  margin-top: 10px;
  margin-right: 8px;
}

.about-me div button a {
  color: white;
  text-decoration: none;
}
/* Utility */

.btn {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.github {
  background-color: #151b23;
}

.linkedin {
  background-color: #0a66c2;
}

.donate {
  background-color: #e68c00;
}

/* Leaderboard */
.leaderboard-header{
  padding: 30px;
  max-width: 1200px;
  margin: 30px auto;
  text-align: center;
  border-radius: 15px;
  background-color: white;
}

.leaderboard-header h1{
  margin: 5px;
}

.leaderboard-header .region-button {
  padding: 12px 21px;
  border: none;
  background-color: #3888ff;
  color: white;
  cursor: pointer;
  transition: .3s ease background-color;
}

.leaderboard-header .region-button:hover {
  background-color: blue;
}
         
.leaderboard-header .active {
  border: none;
  background-color: blue;
}

.leaderboard-container {
  text-align: center;
  margin-bottom: 30px;
  padding: 25px;
  max-width: 1200px;
  background-color: white;
  margin: 0 auto;
  border-radius: 15px;
}

.leaderboard-meta{
  text-align: center;
  margin-bottom: 15px;
}
.leaderboard-table-wrapper {
  max-width: 900px;
  overflow-x: auto;
  margin: 20px auto;
  background-color: white;
  border: 3px solid black;
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 14px 12px;
  border-bottom: 1px solid #ddd;
}

.leaderboard-table th {
  background-color: #0f0f0f;
  color: white;
  font-family: "Cinzel", serif;
}

.leaderboard-table tbody tr:hover {
  background-color: #f3f3f3;
}

/* Footer */

.footer {
  text-align: center;
  margin-top: auto;
  padding: 15px 0;
  background-color: #0f0f0f;
  color: white;
}

.footer a{
  color: #67a4ff;
  text-decoration: none;
}

/* Media Queries */

@media (max-width: 650px) {
       .player-info{
        width: 80%;
       }
      
      .match-card {
        flex-direction: column;
        gap: 7px;
      }

      .match-players {
        flex-direction: column;
      }

      .about-me {
        flex-direction: column;
      }

      .navbar {
        gap: 0;
        padding: 5px;
        display: block;
        text-align: center;
      }

      .navbar h1 {
        margin: 4px 0;
      }

      .navbar .nav-links {
        /* display: flex; */
        justify-content: center;
        padding: 0;
      }
}


/* Loading button */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}